<% include ../partials/boilerplate %>
<% include ../partials/nav {user: user} %>

  <div class='book-container'>
    <div class='book'> 
      <div class='book-top'>
        <h3><%= book.title %> (<%= book.year %>)</h3>
        <p><%= book.author %></p>
        <p><%= book.genre %></p>
        <% if (book.read === false) { %><p id='read'>Unread</p><% } %>
        <% if (book.read === true) { %><p id='read'>Read</p><% } %>
      </div>
      <div class='book-description'>
        <p>"<%= book.description %>"</p>
      </div>
      <% if (book.read === true) { %>
      <div class='user-feedback'>
        <p><u>Here's what you thou</u>g<u>ht:</u></p>
        <div class='user-rating'>
        <% for (let i = 0; i < book.user_rating; i++) { %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% } %>
        </div>
        <p>"<%= book.user_notes %>"</p>
      </div> 
      <% } %>
      <div class='links'>
          <% if (book.read === false) { %>
            <form>
              <button class='mark-read-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/done'><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
            </form>
          <% } %>
          <% if (book.read === true) { %>
            <form>
              <button class='mark-unread-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/not-done'><i class="fa fa-square-o" aria-hidden="true"></i></button>
            </form>
          <% } %>
          <form>
            <button class='edit-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          </form>
          <form>
            <button class='delete-button' type='submit' formmethod='POST' formaction='/books/<%= book.id %>?_method=DELETE'><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </form>
      </div>
    </div>
    <div class='back'>
      <a href='/books' id='back-button'>Back to the List</a>
    </div>
  </div>

<% include ../partials/end %>