<% include ../partials/boilerplate %>
<% include ../partials/nav {user: user} %>
<div class='container'>
  <div class='unread-book-container'>
  <% if (unreadBooks.length === 0) { %>
    <h1>You have no books to read! :(</h1>
  <% } else { %>
    <h2>Unread:</h2>
  <% } %>
  <% for (let book of unreadBooks) { %>
    <div class='book'>
      <div class='book-top'>
        <h3 id='title'><%= book.title %> (<%= book.year %>)</h3>
        <p id='author'><%= book.author %></p>
      </div>
      <div class='book-bottom'>
        <div class='links'>
          <% if (book.read === false) { %>
            <form>
              <button class='mark-read-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/done'><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
            </form>
          <% } %>
          <% if (book.read === true) { %>
            <form>
              <button class='mark-unread-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/not-done'><i class="fa fa-square-o" aria-hidden="true"></i></button>
            </form>
          <% } %>
          <form>
            <button class='info-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>'><i class="fa fa-info" aria-hidden="true"></i></button>
          </form>
          <form>
            <button class='edit-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          </form>
          <form>
            <button class='delete-button' type='submit' formmethod='POST' formaction='/books/<%= book.id %>?_method=DELETE'><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  <% } %>
  </div>

  <div class='read-book-container'>
  <% if (readBooks.length === 0) { %>
    <h1>You have read no books! :(</h1>
  <% } else { %>
    <h2>Read:</h2>
  <% } %>
  <% for (let book of readBooks) { %>
    <div class='book'>
      <div class='book-top'>
        <h3 id='title'><%= book.title %> (<%= book.year %>)</h3>
        <p id='author'><%= book.author %></p>
      </div>
      <div class='book-bottom'>
        <div class='links'>
          <% if (book.read === false) { %>
            <form>
              <button class='mark-read-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/done'><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
            </form>
          <% } %>
          <% if (book.read === true) { %>
            <form>
              <button class='mark-unread-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/not-done'><i class="fa fa-square-o" aria-hidden="true"></i></button>
            </form>
          <% } %>
          <form>
            <button class='info-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>'><i class="fa fa-info" aria-hidden="true"></i></button>
          </form>
          <form>
            <button class='edit-button' type='submit' formmethod='GET' formaction='/books/<%= book.id %>/edit'><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          </form>
          <form>
            <button class='delete-button' type='submit' formmethod='POST' formaction='/books/<%= book.id %>?_method=DELETE'><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  <% } %>
  </div>
</div>
<% include ../partials/end %>